<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <httpRuntime executionTimeout="110" maxRequestLength="4096">
    </httpRuntime>
  </system.web>
  <appSettings>
    <add key="api_key" value="4bb19b483f21984a079f8708e613db49"/>
    <add key="secret_key" value="e8c65528bbe6fe10"/>
    <add key="short_code" value="22888890"/>
  </appSettings>
</configuration>